body { 
	margin: 0;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.centered {
	text-align: center;
	margin: 0;
}

.left-panel {
	background-color: lightblue;
	width: 30%;
	padding: 20px;
}

.right-panel {
	background-color: lightyellow;
	width: 70%;
	padding: 20px;
}

button {
	margin: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.education, .homework, .favorite-music {
	margin-bottom: 100px;
}

.education h3 {
	padding-bottom: 10px;
	border-bottom: 2px solid #d3d3d3;
	width: 100%;
}
.homework h3 {
	padding-bottom: 10px;
	border-bottom: 2px solid #d3d3d3;
	width: 100%;
}
.favorite-music h3{
	padding-bottom: 10px;
	border-bottom: 2px solid #d3d3d3;
	width: 100%
}

ul {
	list-style: none;
	padding: 0;
}
ul li {
	margin-bottom: 30px;
}

.favorite-music {
	align-items: center;
	margin-bottom: 20px;
}

.music-list {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.music-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.music-list img {
	width: 50px;
	height: 50px;
}

.music-list p {
	margin-top: 5px;
	text-align: center;
}